@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Russo+One&family=Tilt+Prism&family=Titillium+Web:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.group {
    position: relative;
    background: radial-gradient(circle at 50% 50%, rgba(51, 10, 10), rgba(5, 5, 21));
    display: flex;
    flex-direction: column;
}

.bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.18;
}


/* HEADER START */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #39053163;
    padding: 20px 50px;
    z-index: 5;
    position: fixed;
}

header .logo a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
}

header .logo a b {
    color: #fd003b;
}

header .logo i {
    color: white;
    font-size: 25px;
}

header .menu {
    display: flex;
    align-items: center;
}

.menu .menu-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu .menu-content a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.menu .menu-content a:hover {
    color: #fd003b;
}

.menu i {
    display: none;
    /*GİZLEME İŞELMİ*/
}

/* HEADER END */

/* NAVBAR START */
nav {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

nav .left {

    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 0px 50px;
    color: white;
}

.animation {
    color: rgb(244, 244, 86);
    font-weight: 600;
    font-size: 34px;
    /* animation: adi işlem-süresi zamanlama gecikme tekrar-sayısı yönü */
    animation: anim1 3s ease-in-out 1s 1000;
}

@keyframes anim1 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}


nav .left h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 46px;
}

nav .left button {
    padding: 7px;
    color: white;
    background-color: transparent;
    /*arkaplan rengini saydam hale getirir*/
    font-size: 20px;
    border: 2px solid #cab2bb;
   
}

nav .left button:hover {
    border-radius: 10px;
    border: 2px solid rgba(94, 17, 94);
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 5px white;
}

/* NAVBAR END */


/* SOCİAL START */
.advert {
    background-color: #39053163;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding: 0px 50px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* animation: adi işlem-süresi zamanlama gecikme tekrar-sayısı yönü */
    animation: reklam 3s ease-in-out infinite;
    /* animation-iteration-count: infinite; */
}

@keyframes reklam {
    0% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(-10px)
    }

    100% {
        transform: translateX(10px);
    }
}

.advert img {
    width: 40px;
    cursor: pointer;
}

/* SOCİAL END */


/* KART START */
aside {
    background-image: radial-gradient(rgba(0, 0, 0, 0.458), rgb(0, 0, 0)), url(arkaplan.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}


aside h1 {
    font-size: 36px;
    color: white;
    padding-top: 30px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.cards .card {
    color: white;
    width: 45%;
    padding: 15px;
    border: 0.2px solid rgba(79, 76, 76, 0.5);
    border-radius: 10px;
}

.cards .card:hover {
    border: 0.2px solid rgba(184, 179, 179, 0.5);
    background: radial-gradient(rgba(13, 12, 15, 0.9), black);
}

.card-title {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card .card-title img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.card p {
    font-weight: 200;
    margin-bottom: 20px;
}

.card button {
    padding: 7px 15px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 4px solid #500523;
    border-radius: 20px;
}

/* KART END */

/* ABOUT START*/
article {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

article h1 {
    font-size: 36px;
}

article p {
    margin-bottom: 40px;
    color: #c13e73;
    text-align: center;
}

.about {
    display: flex;
    gap: 50px;
    align-items: center;
}

.about .about-left {
    width: 60%;
}

.about .about-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 7px;
}

.about-right h2 {
    color: #c13e73;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.about-right button {
    padding: 7px;
    margin-top: 30px;
    color: white;
    background: linear-gradient(to left, #c13e73, #ee156c);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.about-right button:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px white;
}

.about-left img {
    width: 500px;
    object-fit: cover;
    border-radius: 20px;
}

/* ABOUT END */



/* Benim hakkımda start */
.contact {
    background-color: black;
    color: white;
    display: flex;
    padding: 50px;
    grid-area: 40px;
    align-items: center;
}

.contact-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    gap: 22px;
    justify-content: center
}

.contact-left h2 {
    font-size: 36px;
}

.contact-left a {
    text-decoration: none;
    color: #5c5454;
}

.contact-left li {
    list-style: none;
}

.contact-left h2 span {
    color: #123456;
}

.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    pad: 50px 0;
    
}

.contact-right input,
textarea {
    border-radius: 10px;
    padding: 10px;
    background-color: #123456;
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: none;
}

.contact-right button {
    padding: 8px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    border: 4px solid #123456;
    background-color: transparent;
    margin: 0 70px;
    width: 200px;
    align-self: center;
    cursor: pointer;
}

/* benim hakkımda end */

/* FOOTER START */
footer {
    background-color: #424141;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    align-items: center;
}

.footer-left {
    flex: 1;
    display: flex;
    gap: 20px;
    color: white;
    flex-direction: column;
}

.footer-left-social i {
    color: white;
    margin-left: 15px;
}

.footer-left-social i:hover {
    color: #123456;
    transform: scale(1.4);
    transition: ease 0.7s;
}

footer .footer-left .logo a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
}

footer .footer-left .logo a span {
    color: red;
}

.footer-right {
    display: flex;
    flex: 1.2;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.footer-right ul {
    width: 150px;
}

.footer-right ul li:first-child {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-right li {
    color: white;
    list-style: none;
}

.footer-left-rights {
    margin-top: 35px;
    
}








/* FOOTER END */

/* RESPONSİVE AYARLAR */
/* TABLET İÇİN GENİŞLİK min=768PX , max=1023px */
@media screen and (min-width:768px) and (max-width:1023px) {

    header .menu {
        position: relative;
    }

    header .menu:hover .menu-content {
        background-color: grey;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25px;
        right: 0;
        border-radius: 20px;
        padding: 10px;
    }

    .menu-content a {
        color: black !important;
    }

    .menu-content a:hover {
        color: white !important;
    }

    .menu i {
        display: flex;
        font-size: 25px;
        color: white;
    }

    header .menu .menu-content {
        display: none;
    }

    .about-left img {
        width: 400px;
    }

    .about {
        flex-direction: column;
        gap: 0;
    }

    .about .about-left {
        width: 80%;
    }

    .about-left img {
        width: 100%;
        height: 200px;
    }

    .about .about-right {
        width: 80%;
    }

    .about-right {
        align-items: center;
        padding-top: 25px;
    }

    .contact {
        flex-direction: column;
        gap: 0;
    }

    .contact-left {
        padding-bottom: 0;
        text-align: center;
    }

    .contact-right {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .footer-right {
        gap: 10px;
    }

    .footer-right ul {
        text-align: center;
    }


}


/* MOBİL İÇİN GENİŞLİK min=0px , max=767px */
@media screen and (max-width:767px) {
    header .menu {
        position: relative;
    }

    header .menu:hover .menu-content {
        background-color: grey;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25px;
        right: 0;
        border-radius: 15px;
        padding: 10px;
    }

    .menu .menu-content a {
        color: black;
    }

    .menu .menu-content a:hover {
        color: white;
    }

    .menu i {
        display: flex;
        font-size: 25px;
        color: white;
    }



    header .menu .menu-content {
        display: none;
    }

    .cards .card {
        width: 90%;
    }

    .about {
        flex-direction: column;
        gap: 0;
    }

    .about .about-left {
        width: 80%;
    }

    .about-left img {
        width: 100%;
        height: 200px;
    }

    .about-right{
        align-items: center;
        padding-top: 25px;
      }

    .contact {
        flex-direction: column;
        gap: 0;
    }

    .contact-left {
        padding-bottom: 0;
        text-align: center;
    }

    .contact-right {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .footer-right {
        gap: 10px;
    }

    .footer-right ul {
        text-align: center;
    }

}